.app {
  color: #a7acbb;
}

/* sides css*/

.left-side {
  background-color: #181f24;
}
.right-side {
  background-color: #1d232a;
  text-align: left;
}

/* Sidebar css */
.sideBar {
  position: sticky;
  top: 0;
  height: 100vh;
  justify-content: space-between;
}

.buttons-zone {
  height: 95%;
  overflow: hidden;
}

.button-nav {
  width: 100%;
}

.button-nav:hover {
  background-color: #1d232a;
}

.button-nav a {
  color: #a7acbb;
}

.button-nav a:hover {
  color: #a7acbb;
  text-decoration: none;
}

.links-zone {
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  position: sticky;
  z-index: 1;
}

/* Home css */

/* Projects css */
.projects {
  width: 100%;
}
.project-card {
  width: 100%;
}

.project-card:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 70%);
}
/* .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

.info-box {
  color: silver;
}

.info-box:hover {
  border: 2px solid red;
  box-shadow: 2pt red;
}

.top h1 {
  font-size: 3rem;
  font-weight: 700;
}

.experience {
  text-align: center;
  margin-bottom: 2rem;
}

.experience h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #000;
}

.footer p {
  font-size: 0.9rem;
  color: #888;
}

section {
  height: 45vh;
}

.sendMailButton {
  z-index: 1;
  position: relative;
  opacity: 0.5;
  width: 20%;
}

.link {
  z-index: 1;
  position: relative;
  opacity: 0.5;
}

.contact {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: rgba(249, 249, 249, 0);
}

.form-group {
  margin-bottom: 20px;
} */
